.single-footer-widget{
	position: relative;
   top: 129px;
   transform: translateY(-50%); 
    text-align: center;

}


.footer-social{

	position: absolute;
   top: 50%;
   transform: translateY(-50%); 
      text-align: center;
}


#footer{
	background-color: black;
}